<div id="chatBubble">
    <img src="/images/chatbubble.png" alt="Chat" />
</div>
<div id="chatContainer">
    <div id="chatHeader">
        Live Chat
        <span id="closeChat" title="Close">✖</span>
    </div>
    <div id="chatMessages">
        <ul id="messagesList"></ul>
    </div>
    <div id="messageInputSection">
        <input type="text" id="messageInput" placeholder="Message" />
        <button id="sendButton">Send</button>
    </div>
</div>