<div class="custom-modal fade show" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
	<div class="custom-modal-dialog" role="document" style="max-width: 100%; margin: 0;">
		<div class="custom-modal-content" style="background-color: rgba(240, 240, 240, 0.9);">
			<div class="custom-modal-body d-flex justify-content-center align-items-center" style="height: auto; text-align: center; padding: 20px;">
				<div style="width: 100%; text-align: center;">
					<strong style="font-size: 0.7rem; font-family: Helvetica, Arial, sans-serif; text-align: center;">
						We use cookies to make your experience smoother; by accepting this, you agree to our use of cookies. If you choose to deny, some parts of the website may not work as intended; please keep in mind that denying the cookies will only disable the non-essential ones, while essential cookies used for authentication and authorisation are still necessary for the website to function.
					</strong>
					<div style="margin-top: 15px;">
						<span id="acceptCookies" class="custom-cookie-text" style="margin: 10px; color: #333; cursor: pointer; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
							Accept
						</span>
						<span id="denyCookies" class="custom-cookie-text" style="margin: 10px; color: #333; cursor: pointer; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
							Deny
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
