<div id="chatContainer">
    <div id="chatHeader">
        Admin Chat Panel
        <span id="closeChat" title="Close">✖</span>
    </div>
    <div id="chatMessages">
        <ul id="messagesList"></ul>
    </div>
    <div id="messageInputSection">
        <input type="text" id="messageInput" placeholder="Your reply" />
        <button id="sendButton">Send</button>
    </div>
</div>