@{
    ViewData["Title"] = "Admin Chat Panel";
}
<div id="adminChatContainer">
    <div id="adminChatHeader">
        Admin Chat Panel
        <span id="adminCloseChat" title="Close">✖</span>
    </div>
    <div id="adminChatMessages">
        <ul id="adminMessagesList"></ul>
    </div>
    <div id="adminChatInput">
        <input type="text" id="adminMessageInput" placeholder="Your reply" />
        <button id="adminSendButton">Send</button>
    </div>
</div>