@await Html.PartialAsync("_CookieModalPartial")
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>The Nissan 200SX Project || Import Garage || Custom dash gauges</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" asp-append-version="true" /></noscript>
		<link rel="icon" href="~/images/favicon.png" type="image/x-icon" asp-append-version="true">
		<meta name="description" content="The Nissan 200SX Project by Import Garage; photos, updates, builds and more.">
		<meta name="keywords" content="Nissan, build, car, diy, project, custom, enthusiast, 200sx, Silvia, S13, dashboard, gauges">
	</head>
	<body class="is-preload" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a asp-controller="Home" asp-action="Index" class="logo">Import Garage || Jap works</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a asp-controller="Home" asp-action="Index">Build updates</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.facebook.com/nissan200sxproject" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/200sxprojectro?igsh=MWZjeWE4eW5idGU0ZQ==" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
			<br>
						<!-- Post -->
							<section class="post">
								<header class="major">
									<span class="date">April 28, 2020</span>
									<h1>Custom dash gauges</h1>
									<p>Customized dashboard gauges, made in Poland.
									</header>
								<div class="image main"><img src="~/images/custom-dash-gauges.jpg" alt="" /></div>
							</section>
					</div>
<!-- Footer -->
					<footer id="footer">						
							<section>
								 <div class="image centered"><img src="~/images/pop-up.gif" alt="" /></div>
							</section>						
					</footer>

				<!-- Copyright -->
					<div id="copyright">
			<ul>&copy; Import Garage | Design: <a href="https://html5up.net">HTML5 UP</a> | <a href="/home/policy">Privacy</a></ul>
					</div>
			</div>
	<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/util.js" asp-append-version="true"></script>
	<script src="~/assets/js/main.js" asp-append-version="true"></script>
	<script src="~/js/Areas/DetailedViews/SharedFiles/bundle.min.js" asp-append-version="true"></script>
	</body>
</html>