<!-- Modal structure -->
<div class="custom-modal fade show" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
	<div class="custom-modal-dialog" role="document" style="max-width: 100%; margin: 0;">
		<div class="custom-modal-content" style="background-color: rgba(240, 240, 240, 0.9);">
			<div class="custom-modal-body d-flex justify-content-center align-items-center" style="height: auto; text-align: center; padding: 20px;">
				<div style="width: 100%; text-align: center;">
					<strong style="font-size: 0.7rem; font-family: Helvetica, Arial, sans-serif; text-align: center;">
						We use cookies to make your experience smoother; by accepting this, you agree to our use of cookies. If you choose to deny, some parts of the website may not work as intended; please keep in mind that denying the cookies will only disable the non-essential ones, while essential cookies used for authentication and authorisation are still necessary for the website to function.
					</strong>
					<div style="margin-top: 15px;">
						<span id="acceptCookies" class="custom-cookie-text" style="margin: 10px; color: #333; cursor: pointer; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
							Accept
						</span>
						<span id="denyCookies" class="custom-cookie-text" style="margin: 10px; color: #333; cursor: pointer; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
							Deny
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>The Nissan 200SX Project || Import Garage || Mishimoto radiators</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" asp-append-version="true" /></noscript>
		<link rel="icon" href="~/images/favicon.png" type="image/x-icon" asp-append-version="true">
		<meta name="description" content="The Nissan 200SX Project by Import Garage; photos, updates, builds and more.">
		<meta name="keywords" content="Nissan, build, car, diy, project, custom, enthusiast, 200sx, Silvia, S13, Mishimoto, radiator, oil cooler, intercooler">
	</head>
	<body class="is-preload" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a asp-controller="Home" asp-action="Index" class="logo">Import Garage || Jap works</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a asp-controller="Home" asp-action="Index">Build updates</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.facebook.com/nissan200sxproject" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/200sxprojectro?igsh=MWZjeWE4eW5idGU0ZQ==" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
			<br>
						<!-- Post -->
							<section class="post">
								<header class="major">
									<span class="date">February 06, 2019</span>
									<h1>Mishimoto radiators</h1>
									<p>Mishimoto radiator, J-Line intercooler and 19-row thermostatic oil cooler kit just came in.
									</header>
								<div class="image main"><img src="~/images/mishimoto-radiators.jpg" alt="" /></div>
								<div class="image main"><img src="~/images/mishimoto-radiators-01.jpg" alt="" /></div>
								<div class="image main"><img src="~/images/mishimoto-radiators-02.jpg" alt="" /></div>
							</section>
					</div>
<!-- Footer -->
					<footer id="footer">						
							<section>
								 <div class="image centered"><img src="~/images/pop-up.gif" alt="" /></div>
							</section>						
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Import Garage</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/util.js" asp-append-version="true"></script>
	<script src="~/assets/js/main.js" asp-append-version="true"></script>
	<script src="~/js/cookies.js" asp-append-version="true"></script>
	<script src="~/js/floatLoginBtn.js" asp-append-version="true"></script>

	</body>
</html>