@{
    ViewData["Title"] = "The Nissan 200SX Project || Import Garage || Access Denied";
}
@{
    var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
    <div class="modal fade show" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document" style="max-width: 450px;">
            <div class="modal-content" style="background-color: #f0f0f0;">
                <div class="modal-body d-flex justify-content-center align-items-center" style="height: 80px;">
                    <strong style="font-size: 1.2rem; font-family: Helvetica, Arial, sans-serif;">@message</strong>
                </div>
            </div>
        </div>
    </div>
}
<html>
<body class="is-preload" data-is-nicetry="@TempData["isNiceTry"]">
    <h2>Access Denied</h2>
    <br>
    <p>You do not have permission to access this page.</p>
    <br>
    <a href="@Url.Action("Index", "Home")">Return to Home</a>

    <!-- Scripts -->
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/util.js" asp-append-version="true"></script>
    <script src="~/assets/js/main.js" asp-append-version="true"></script>
    <script src="~/js/formScript.js" asp-append-version="true"></script>
    <script src="~/js/logInlogOut.js" asp-append-version="true"></script>
</body>
</html>