@{
    var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
    @await Html.PartialAsync("_MessageModalPartial", message)
}
<html>
<body class="is-preload" data-is-nice-try="@TempData["isNiceTry"]" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">
    <h2>Access Denied</h2>
    <br>
    <p>You do not have permission to access this page.</p>
    <br>
    <a href="@Url.Action("Index", "Home")">Return to Home</a>

    <!-- Scripts -->
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/util.js" asp-append-version="true"></script>
    <script src="~/assets/js/main.js" asp-append-version="true"></script>
    <script src="~/js/formScript.js" asp-append-version="true"></script>
</body>
</html>